@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
.gold-bg {
    background-color: gold;
}

.dark-theme {
    background-color: #000300;
    transition: background-color 0.3s ease; 
}

.light-theme {
    background-color: rgb(89, 89, 89);
    transition: background-color 0.3s ease-in; 
}
